
html {
  background-color: #888;
  margin: 0 17%;
  font-family: 'Dancing Script', cursive;
  color: #eee;
  font-size: 142%
}

h2 {
  margin-top: 7%;
  border-bottom: dashed 1px;
}

#cycler {
  position: relative;
  height: 380px;
  width: 100%;
}
#cycler img{position:absolute;z-index:1}
#cycler img.active{z-index:3}


#about img {
  float: left;
  height: 400px;
  width: auto;
  margin: 20px;
}

#rates img {
  float: right;
  height: 300px;
  width: auto;
  margin: 20px;
}

#rates table td {
  border: dashed 2px white;
  padding: 7%;
}

#footer {
  text-align: center;
  margin-top: 11%;
  border-top: dashed 3px white;
}
